*{
	margin: 0;
	padding: 0;
}

header{
	padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
}
header > h1{

    font-size: 2em;
    font-weight: bold;
}
#form_section{
	margin: 10% 0;
}
#skill{
	padding: 6px;
}
#button{
	padding: 10px;
}

.vl{

    border-right: 6px solid ;
    height: 435px;
    border-color: #1abc9c;
    display: block;
}
hr{

    display: none;

}
#display_section{
	 margin: 5% 0;
}
#display_section > h3{
	text-align: center;
}

@media only screen and (max-width: 991px) {
  .vl {
    display: none;
  }
  hr{
  	display: block;
    height: 6px !important;
    background-color: #1abc9c;
    color: #1abc9c;
    width: auto;
  }
}

.table-bordered{
	border-color: #878c32;
	border:  3px solid #878c32;
}
th{
	background-color: #d6dc6e !important;
	color: white;
}
footer{
	padding: 15px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
}
footer > h1{

    font-size: 1.5em;
    font-weight: bold;
}
tr{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
